* { /* Gælder alt på hele siden */
    box-sizing: border-box; /* Bokse har altid den størrelse man giver uanset om der tilføjes margen, padding mv. */
}

/* Ovenstående kode kan give problemer ved nogle 3. parts scripts man henter. Men det gør det nemmere at forstå og lave kodning når man starter. */

body {
    margin: 0; /* Ingen kanter i siden af browser */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0; /* Ingen ydre margen fra overskrifter */
    padding: 0; /* Ingen indre margen fra overskrifter */
}

a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 39px;
}

ul, ol {
    margin: 2px 10px 2px 10px; /* Mindre margen på punkter */
    padding: 0; /* Ingen indre margen fra lister */
    list-style-position: inside; /* List punkter står på linje */
}

li {
    margin: 0; /* Ingen ydre margen fra listpunkter */
}

p {
    margin: 0; /* Ingen ydre margen fra paragraffer */
    padding: 0; /* Ingen indre margen fra paragraffer */
}

/* Sikrer billeder er responsive */
img {
    display: block; /* Billeder er et element (laver linjeskift) */
    max-width: 100%; /* Bredde må maks fylde 100% */
    height: auto; /* Højden skal tilpasse sig */
}


/*Farver*/
.text-primary{
    color: #333333;
}
.text-secondary{
    color: #FFFFFF;
}

/*Skrifttyper*/
.josefine_sans_regular{
    font-family: "Josefin Sans";
}
.josefine_sans_light{
    font-family: "Josefin Sans Light";
}
.josefine_sans_medium{
    font-family: "Josefin Sans Medium";
}
.sacramento{
    font-family: "Sacramento", cursive;
}


/*------------------------------------Kontakt os------------------------------------------*/
/*Kontakt os*/
.kontakt_os{
    padding: 40px;
    background-color: #A6CB9C;
}

/*Telefon og mail*/
.tlf{
    padding-top: 60px;
}

.mail{
    padding-top: 40px;
    padding-bottom: 60px;
}

/*Har du spørgsmål?*/
.har_du_spoergsmaal{
    padding-bottom: 10px;
}

/*Spørgsmålskasser*/
.tekst_boks{
    border: 1px solid;
    border-radius: 5px;
}

/*Send knappen*/
.send_tekst{
    background-color: #7ACDD0;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.send_knap {
    padding-bottom: 50px;
}


/*--------------------------------Om os------------------------------*/
/*Om os*/
.om_os{
    padding: 40px;
    background-color: #AC97C6;
}

/*Lilla baggrundsfarve*/
.verden_kompost{
    background-color: #CBD6E7;
}

/*Media query til desktop*/
@media screen and (min-width: 992px){
    .verden_tekst{
        margin-top: 70px;
    }

    .verden_center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .display_desktop{
        display: flex;
    }

    .overskrift_tekst{
        order: 1;
    }

    .lilla_tekst{
        order: 2;
        background-color: #FFFFFF;
    }

    .verdenskort_billede{
        order: 3;
    }
}


/*-------------------------------Tak for spørgsmål---------------------------*/
/*Tilbage til forsiden-knappen*/
.tilbage_knap {
    background-color: #f8bb60;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

.tilbage_knap_padding {
    margin-bottom: 400px;
}